:root {
    --dark-grey: #1a1a1a;
    --light-grey: #f9f9f9;
    --medium-orange: #EC6524;
    --medium-green: #1CB83E;
    --medium-red: #E34949;
    --medium-light-grey: #EEEEEE;
    --medium-grey: #A8A8A8;
}
  

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    color: #000;
    line-height: 1.6;
    font-size: 1.5rem;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 1.6rem;
}

html {
    font-size: 68%;
}
@media only screen and (max-width: 800px) {
    html {
        font-size: 62%;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 56%;
    }
}

/* Typography */

h1 {
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 29px;
    letter-spacing: 0.205em;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    font-size: 1.7rem;
}

.subtitle {
    font-weight: lighter;
    font-size: 2rem;
}

.date-text {
    color: #A8A8A8;
    font-size: 1.4rem;
}

.price-text {
    font-weight: lighter;
    font-size: 3rem;
}

.green-text {
    color: var(--medium-green);
}

.orange-text {
    color: var(--medium-orange);
}

.red-text {
    color: var(--medium-red);
}

/* Button */

.outline-btn {
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    width: fit-content;
    padding: 4px 16px;
    min-width: 200px;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outline-btn a, .outline-btn span {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.outline-btn i {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}

.outline-btn:hover {
    background-color: var(--medium-orange);
}

.primary-btn {
    border-radius: 20px;
    width: fit-content;
    padding: 4px 16px;
    background-color: var(--medium-orange);
    min-width: 200px;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-btn i {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
}

.primary-btn a, .primary-btn span {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.primary-btn:hover {
    background-color: #E34949;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.coloured-link {
    color: var(--medium-orange);
    text-decoration: none;
}

.coloured-link:hover {
    color: var(--medium-red);
    text-decoration: none;
}

/* Nav */

.home-nav {
    background-color: var(--dark-grey);
    padding: 10px 16px;
}

.home-nav li a {
    color: white;
    text-transform: uppercase;
    font-size: var(--small-font);
    position: relative;
}

.home-nav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: var(--medium-orange);
    transition: all .2s;
}

.home-nav li a:hover::after {
    width: 100%;
}

.home-nav-sticky {
    background-color: var(--light-grey);
}

.home-nav-sticky li a {
    color: black;
}

.sidenav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding: 32px 0 32px 0;
    background-color: var(--dark-grey);
    z-index: 100;
    transition: all .2s;
}

.sidenav-toggle-btn {
    margin-right: 2rem;
    display: none;
}

@media screen and (max-width: 800px) {
    .sidenav-toggle-btn {
        display: inline-block
    }
}

.sidenav-item {
    display: flex;
    padding: 8px 16px;
    transition: all .2s;
    cursor: pointer;
}

.sidenav-item:hover, .sidenav-item-active {
    background-color: var(--medium-orange);
}

.sidenav-item i {
    margin-right: 10px;
    color: white;
    font-size: 2.5rem;
}

.sidenav-item a, .sidenav-item span {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidenav-close {
    transform: translateX(-250px);
}

.close-sidenav-btn {
    display: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (max-width: 800px) {
    .sidenav-open {
        transform: translateX(0);
    }
    
    .sidenav-open+.app {
        transform: translateX(200px);
    }

    .close-sidenav-btn {
        display: block;
    }
}

/* Card */

.dark-grey-card {
    background-color: var(--dark-grey);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 450px;
    padding: 24px 32px;
    text-align: center;
}

.grey-card {
    background: var(--medium-light-grey);
    border-radius: 20px;
    padding: 8px 16px;
}

.white-card {
    background-color: white;
    border: 2px solid var(--medium-light-grey);
    border-radius: 20px;
    padding: 24px 32px;
}

/* Form */

.form .form-input-wrapper:not(:last-child) {
    margin-bottom: 1.5rem;
}

.form-input {  
    border-radius: 10px;
    outline: none;
    border-color: transparent;
    padding: 5px 16px;
    width: 100%;
    height: 40px;
}

.form-input-dark {
    background-color: #3E3E3E;
    color: white;
}

.form-input-light {
    background-color: var(--medium-light-grey);
    color: black;
}

.form-input::placeholder {
    color: #A8A8A8
}

.orange-select-input {
    background: transparent;
    border: 2px solid #EC6524;
    border-radius: 20px;
    padding: 5px 16px;
    color: var(--medium-orange);
}

.error {
    color: var(--medium-red);
    font-size: 1.5rem;
}

.success {
    color: var(--medium-green);
    font-size: 1.5rem;
}

/* Popup */

.popup-wrapper {
    width: 100w;
    height: 100vh;
    z-index: 200;
    position: fixed;
}

.popup-title {
    font-size: 2rem;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 24px 32px;
    background-color:#FFFFFF;
    border-radius: 20px;
    border: 1px solid #999999;
    text-align: center;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* Index.html - header */

.header-container {
    margin-top: 45px;
    min-height: calc(100vh - 45px);
    padding: 32px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('../assets/img/index-background.jpg');
    background-size: cover;
    color: white;
}

@media screen and (max-width: 800px) {
    .header-container {
        margin-top: 48px;
        min-height: calc(100vh - 48px);
    }
}

@media screen and (max-width: 600) {
    .header-container {
        margin-top: 40px;
        min-height: calc(100vh - 40px);
    }
}

.header-content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
}

.header-subtitle {
    font-weight: lighter;
    font-size: 2rem;
    max-width: 500px;
    margin: auto;
}

/* Index.html - about */

.about-container {
    background-color: var(--light-grey);
    min-height: calc(100vh - 52.88px);
    padding: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-icon {
    font-size: 10rem;
    color: var(--medium-orange);
}

/* Login.html, signup.html - main */

.login-signup-container {
    min-height: 100vh;
    padding: 32px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('../assets/img/login-signup-background.jpg');
    background-size: cover;
    background-position: 60%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 150px;
    width: 150px;
}

.logo img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
}

/* Spending.html, analytics.html, profile.html - categories */

.app {
    margin-left: 200px;
    padding: 32px 48px;
    position: relative;
    min-height: 100vh;
    background-color: var(--light-grey);
}

.app section {
    margin-bottom: 3rem;
}

.app-title-primary {
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .app {
        margin-left: 0;
    }
}

.floating-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 150;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Spending.html - categories */

.category-icon {
    color: var(--medium-orange);
    font-size: 50px;
    margin: auto;
}

.category-content {
    text-align: center;
}

.category-cards .grey-card {
    margin: 1rem;
}

/* Spending.html - spendings */

.spendings-cards {
    padding: 1rem 0 1rem 0;
    list-style: none;
}

.spendings-cards .white-card:not(:last-child) {
    margin-bottom: 2rem;
}

.spendings-icon {
    color: var(--medium-orange);
    font-size: 2rem;
    cursor: pointer;
}

.spendings-icon:hover {
    color: var(--medium-red);
}

/* Analytics.html - chart */

ul.pie-legend {
    text-align: center;
    margin-top: 2rem;
}

ul.pie-legend li {
   display:inline-block;
   margin-right: 10px; 
}

ul.pie-legend li span {
    padding: 5px 10px;
    color: #fff;
}

/* Profile.html */

.profile-img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.profile-img img {
    height: 100%;
    width: 100%;
    display: block;
}